%p
  %a{:href => "/pets/new"}
    %button.btn.btn-info
      Create new
%table.table.table-striped
  %tr
    %th #
    %th Name
    %th Description
    %th Species
    %th Status
    %th Actions
  - @pets.each do |p|
    %tr
      %td
        = p.id
      %td
        = p.name
      %td
        = p.description
      %td
        = p.species
      %td
        = p.status
      %td
        %a{:href => "/pets/#{p.id}/edit"}
          Edit
        %a{:href => "/pets/#{p.id}"}
          View
        %a{:href => "/pets/#{p.id}/delete"}
          Delete


